.battery-array {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .battery-array .cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    border-radius: 2px;
    text-decoration: none;
    width: 140px;
    height: 140px;
    margin: .2em;
    background-color: #4CAF50;
    border: 2px solid #388E3C;
    overflow: hidden;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out; }
    .battery-array .cell:last-child {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .battery-array .cell:last-child img {
        margin: auto;
        width: 120px;
        height: 120px;
        -webkit-transition: all 250ms ease-in-out;
        -o-transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out; }
    .battery-array .cell p {
      margin: 0;
      padding: 4px;
      color: white;
      font-size: 24px;
      line-height: normal; }
    .battery-array .cell .overlay {
      position: absolute;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      -webkit-transition: all 250ms ease-in-out;
      -o-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out;
      background: rgba(0, 0, 0, 0.2);
      height: 0;
      width: 100%;
      top: 0; }
      .battery-array .cell .overlay p {
        padding: 6px;
        font-size: 18px;
        line-height: normal;
        text-align: right; }

@media (min-width: 1000px) {
  .cell:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }
    .cell:hover .overlay {
      height: 100%; }
    .cell:hover img {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg); } }

@media (max-width: 1000px) {
  .battery-array .cell {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .battery-array .cell .overlay {
      position: relative;
      height: auto; } }

* {
  padding: 0;
  margin: 0; }

body {
  overflow-x: hidden; }

.page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh; }
  .page-wrap main {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    background: rgba(0, 0, 0, 0.05); }

section {
  max-width: 640px;
  margin: 5vh auto; }
  section h2 {
    font-size: 2em;
    font-family: "Fira Sans Condensed";
    font-weight: normal;
    padding: 20px 0 0 0;
    color: #4CAF50; }
  section p {
    line-height: 150%;
    margin-top: 20px;
    font-size: 1.125em;
    font-family: "Fira Sans";
    color: #212121; }
  section .secondary-text {
    color: #757575; }

@media (max-width: 1000px) {
  section {
    max-width: 100%;
    margin: 100px 16px; } }

header {
  text-align: center;
  padding: 175px 0;
  background-color: #4CAF50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  font-family: "Fira Sans Condensed"; }
  header h1 {
    font-size: 56px;
    font-weight: normal; }
  header p {
    font-size: 42px; }

header.fixed {
  top: 0;
  padding: 0;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: fixed;
  text-align: left;
  height: 0;
  width: 100vw;
  -webkit-box-shadow: 0px 4px 3px -2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 3px -2px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  z-index: 2; }
  header.fixed h1 {
    margin-left: 20px;
    max-width: 75%;
    font-size: 32px;
    font-weight: normal; }

@media (max-width: 1000px) {
  header {
    padding: 50px 0; }
    header h1 {
      font-size: 42px; }
    header p {
      font-size: 42px; }
  header.fixed {
    -webkit-transition: height 200ms ease-in-out;
    -o-transition: height 200ms ease-in-out;
    transition: height 200ms ease-in-out; } }

nav {
  width: 240px;
  border-right: 1px solid rgba(0, 0, 0, 0.2); }
  nav .sidebar {
    position: fixed;
    width: 240px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    nav .sidebar img {
      margin-left: auto;
      width: 52px;
      padding: 20px; }
    nav .sidebar ul {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      list-style: none;
      text-align: right;
      padding: 0 15px; }
      nav .sidebar ul li {
        margin: 50px 0; }
        nav .sidebar ul li a {
          display: block;
          color: #212121;
          padding-right: 10px;
          -webkit-transition: all 100ms ease-in-out;
          -o-transition: all 100ms ease-in-out;
          transition: all 100ms ease-in-out;
          font-family: "Fira Sans Condensed";
          font-size: 18px;
          text-decoration: none; }
          nav .sidebar ul li a:hover {
            color: #4CAF50;
            border-right: 4px solid #4CAF50; }
    nav .sidebar .navIndicator {
      color: #4CAF50;
      border-right: 4px solid #4CAF50; }

@media (max-width: 1000px) {
  nav {
    display: none; } }
