.battery-array {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.battery-array .cell {
  border-radius: 2px;
  display: block;
  text-decoration: none;
  margin: 6px 0;
  width: 152px;
  height: 152px;
  background-color: #4CAF50;
  overflow: hidden;
  transition: all 250ms ease-in-out;
}

.battery-array .cell:last-child {
  visibility: hidden;
}

.battery-array .cell p {
  padding: 6px;
  color: white;
  font-size: 24px;
  line-height: normal;
}

.battery-array .cell .overlay {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  transition: all 250ms ease-in-out;
  background: rgba(0, 0, 0, 0.2);
  height: 0;
  width: 100%;
  top: 0px;
}

.battery-array .cell .overlay p {
  padding: 6px;
  font-size: 18px;
  line-height: normal;
  text-align: right;
}

.battery-array .cell:hover {
  transform: scale(1.05);
}

.battery-array .cell:hover .overlay {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

.page-wrap {
  display: flex;
  min-height: 100vh;
}

.page-wrap .sections-col {
  flex: auto;
  background: rgba(0, 0, 0, 0.05);
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  margin: 100px auto;
}

.content h2 {
  font-size: 32px;
  font-family: "Fira Sans Condensed";
  font-weight: normal;
  padding: 20px 0;
  color: #4CAF50;
}

.content p {
  line-height: 150%;
  font-size: 18px;
  font-family: "Fira Sans";
  color: #212121;
}

header {
  width: 240px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

header .sidebar {
  position: fixed;
  width: 240px;
  display: flex;
  flex-direction: column;
}

header .sidebar img {
  margin-left: auto;
  width: 52px;
  padding: 20px;
}

header .sidebar nav {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

header .sidebar nav ul {
  list-style: none;
  text-align: right;
  padding: 0 15px;
}

header .sidebar nav ul li {
  margin: 50px 0;
}

header .sidebar nav ul li a {
  display: block;
  color: #212121;
  padding-right: 10px;
  transition: all 100ms ease-in-out;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  text-decoration: none;
}

header .sidebar nav ul li a:hover {
  color: #4CAF50;
  border-right: 4px solid #4CAF50;
}

header .sidebar .navIndicator {
  color: #4CAF50;
  border-right: 4px solid #4CAF50;
}

section.hero {
  text-align: center;
  height: 450px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #4CAF50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: "Fira Sans Condensed";
}

section.hero h1 {
  font-size: 56px;
  font-weight: normal;
}

section.hero p {
  font-size: 42px;
}

section.hero-fixed {
  top: 0;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  font-family: "Fira Sans Condensed";
  height: 93px;
  width: 100%;
  box-shadow: 0px 4px 3px -2px rgba(0, 0, 0, 0.4);
  transition: all 500ms ease-in-out;
  z-index: 2;
}

section.hero-fixed h1 {
  margin-left: 20px;
  display: none;
  font-size: 32px;
  font-weight: normal;
}
