* {
  padding: 0;
  margin: 0; }

.page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh; }
  .page-wrap main {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    background: rgba(0, 0, 0, 0.05); }

section {
  max-width: 640px;
  margin: 10vh auto; }
  section h2 {
    font-size: 36px;
    font-family: "Fira Sans Condensed";
    font-weight: normal;
    padding: 20px 0 0 0;
    color: #4CAF50; }
  section p {
    line-height: 150%;
    margin-top: 20px;
    font-size: 18px;
    font-family: "Fira Sans";
    color: #212121; }
  section .secondary-text {
    color: #757575; }

@media (max-width: 1000px) {
  section {
    max-width: 100%;
    margin: 18vh 16px; } }

.battery-array {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .battery-array .cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    border-radius: 2px;
    text-decoration: none;
    width: 130px;
    height: 130px;
    margin: .2em;
    background-color: #4CAF50;
    border: 2px solid #388E3C;
    overflow: hidden;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out; }
    .battery-array .cell:last-child {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .battery-array .cell:last-child img {
        margin: auto;
        width: 120px;
        height: 120px;
        -webkit-transition: all 250ms ease-in-out;
        -o-transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out; }
    .battery-array .cell p {
      margin: 0;
      padding: 4px;
      color: white;
      font-size: 22px;
      line-height: normal; }
    .battery-array .cell .overlay {
      position: absolute;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      -webkit-transition: height 250ms ease-in-out;
      -o-transition: height 250ms ease-in-out;
      transition: height 250ms ease-in-out;
      background: rgba(0, 0, 0, 0.2);
      overflow: hidden;
      top: 0;
      left: 0;
      right: 0;
      height: 0; }
      .battery-array .cell .overlay p {
        padding: 4px;
        font-size: 18px;
        line-height: normal;
        text-align: right; }

@media (min-width: 1000px) {
  .cell:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }
    .cell:hover .overlay {
      height: 100%; }
    .cell:hover img {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg); } }

@media (max-width: 1000px) {
  .battery-array .cell {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .battery-array .cell .overlay {
      position: relative;
      height: auto; } }

@media (min-width: 735px) and (max-width: 880px) {
  .battery-array {
    width: 80%; } }

header {
  text-align: center;
  padding: 175px 0;
  background-color: #4CAF50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  font-family: "Fira Sans Condensed"; }
  header h1 {
    font-size: 56px;
    font-weight: normal; }
  header p {
    font-size: 42px; }

header.fixed {
  top: 0;
  left: 240px;
  right: 0;
  padding: 0;
  height: 0;
  position: fixed;
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  z-index: 2;
  overflow: hidden; }
  header.fixed h1 {
    margin: auto 20px auto 20px;
    font-size: 32px;
    font-weight: normal; }
  header.fixed .mobile-menu {
    height: 50px;
    width: 50px;
    margin: auto 20px auto auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: none; }
    header.fixed .mobile-menu span,
    header.fixed .mobile-menu span:before,
    header.fixed .mobile-menu span:after {
      content: "";
      display: block;
      border-radius: 2px;
      height: 4px;
      width: 50px;
      background: white;
      position: relative; }
    header.fixed .mobile-menu span:before {
      top: 16px; }
    header.fixed .mobile-menu span:after {
      top: -20px; }

@media (max-width: 1000px) {
  header {
    padding: 50px 0; }
    header h1 {
      font-size: 42px; }
    header p {
      font-size: 42px; }
  header.fixed {
    -webkit-transition: height 200ms ease-in-out;
    -o-transition: height 200ms ease-in-out;
    transition: height 200ms ease-in-out;
    left: 0; }
    header.fixed .mobile-menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

@media (max-width: 365px) {
  header.fixed h1 {
    font-size: 26px; } }

nav.desktop-nav {
  position: relative;
  width: 240px;
  border-right: 1px solid #BDBDBD;
  background-color: white;
  z-index: 3; }
  nav.desktop-nav .sidebar {
    position: fixed;
    width: 240px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    nav.desktop-nav .sidebar img {
      margin-left: auto;
      width: 52px;
      padding: 20px; }
    nav.desktop-nav .sidebar ul {
      border-top: 1px solid #BDBDBD;
      list-style: none;
      text-align: right;
      padding: 0 15px; }
      nav.desktop-nav .sidebar ul li {
        margin: 50px 0; }
        nav.desktop-nav .sidebar ul li a {
          display: block;
          color: #212121;
          padding-right: 10px;
          -webkit-transition: all 100ms ease-in-out;
          -o-transition: all 100ms ease-in-out;
          transition: all 100ms ease-in-out;
          font-family: "Fira Sans Condensed";
          font-size: 18px;
          text-decoration: none;
          outline: none; }
          nav.desktop-nav .sidebar ul li a:hover {
            border-right: 4px solid #4CAF50; }
    nav.desktop-nav .sidebar .navIndicator {
      color: #4CAF50;
      border-right: 4px solid #4CAF50; }

nav.mobile-nav {
  position: fixed;
  background: white;
  top: 93px;
  right: 0;
  left: 100%;
  height: 100vh;
  width: 100%;
  z-index: 3;
  overflow: hidden;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }
  nav.mobile-nav ul {
    list-style: none;
    text-align: right;
    padding: 0 15px 0 100px; }
    nav.mobile-nav ul li {
      margin: 50px 0;
      border-right: 4px solid #4CAF50; }
      nav.mobile-nav ul li a {
        display: block;
        color: #212121;
        padding-right: 10px;
        -webkit-transition: all 100ms ease-in-out;
        -o-transition: all 100ms ease-in-out;
        transition: all 100ms ease-in-out;
        font-family: "Fira Sans Condensed";
        font-size: 24px;
        text-decoration: none;
        outline: none; }

nav.is-open {
  left: 0; }

@media (max-width: 1000px) {
  nav.desktop-nav {
    display: none; } }

.location-info {
  background-color: white;
  margin-top: 20px;
  padding: 16px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0; }
  .location-info .cta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 16px; }
    .location-info .cta h3 {
      padding: 0;
      text-align: center;
      color: #757575;
      font-size: 28px;
      font-family: "Fira Sans Condensed";
      font-weight: normal; }
    .location-info .cta a {
      position: relative;
      top: 0;
      -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
      text-align: center;
      display: block;
      padding: 8px;
      background: #4CAF50;
      text-decoration: none;
      outline: none;
      color: white;
      -webkit-transition: all 100ms ease-in-out;
      -o-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out;
      font-size: 28px;
      font-family: "Fira Sans"; }
      .location-info .cta a:hover {
        top: -2px;
        -webkit-box-shadow: 0 5px 2px -1px rgba(0, 0, 0, 0.4);
        box-shadow: 0 5px 2px -1px rgba(0, 0, 0, 0.4); }
  .location-info address {
    border-left: 4px solid #4CAF50;
    font-size: 18px;
    font-family: "Fira Sans";
    color: #212121;
    line-height: 150%;
    background-color: #C8E6C9;
    padding: 4px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

@media (max-width: 640px) {
  .location-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .location-info .cta {
      margin: 0; }
      .location-info .cta a {
        margin: 20px 0; } }

footer {
  height: 200px;
  width: 100%;
  background-color: #4CAF50; }
