section
  max-width: 640px
  margin: 10vh auto
  h2
    font:
      size: 36px
      family: $heading-font
      weight: normal
    padding: 20px 0 0 0
    color: $primary-color
  p
    line-height: 150%
    margin-top: 20px
    font:
      size: 18px
      family: $primary-font
    color: $primary-text-color
  .secondary-text
    color: $secondary-text-color

@media (max-width: 1000px)
  section
    max-width: 100%
    margin: 18vh 16px